@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}


.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 300px;
  }

  .carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .carousel-button {
    padding: 8px 16px;
    margin: 0 5px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
  }

  .carousel-button:hover {
    background: gray;
  }